h5 {
  text-transform: uppercase;
  color: green;
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.Deals-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
}
.Deals-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
}
.Deals-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  margin-bottom: 200px;
}
.Deals-list1 {
  width: 27rem;
  height: 28rem;
  object-fit: cover;
  margin-left: 60px;
  margin-bottom: 50px;
}
.imgi {
  filter: drop-shadow(-25px 25px rgb(168, 239, 168));
}
.imgiii {
  filter: drop-shadow(-25px 25px rgb(168, 239, 168));
  margin-left: -6px;
}
.imgii {
  filter: drop-shadow(25px 25px rgb(168, 239, 168));
}
.Deals-list2 {
  color: green;
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
  font-family: "Inconsolata", monospace;
}
.p {
  color: rgb(13, 39, 13);

  font-size: 18px;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  margin-left: -15px;
  margin-right: 30px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.pi {
  color: rgb(13, 39, 13);
  margin-top: 60px;
  font-size: 18px;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  margin-left: 20px;
  margin-bottom: 40px;
}
.Book-1 {
  background-color: rgb(168, 239, 168);
  padding: 14px 18px;
  text-decoration: none;
  font-size: 18px;
  margin-left: -415px;
  color: white;
  font-weight: 600;
}
.Book {
  background-color: rgb(168, 239, 168);
  padding: 14px 18px;
  text-decoration: none;
  font-size: 18px;
  margin-left: -490px;
  color: white;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  .Deals-1 {
    display: block;
  }
  .Deals-2 {
    display: block;
  }
  .Deals-3 {
    display: block;
  }
  .p {
    margin-left: 13px;
  }
  .pi {
    margin-right: 18px;
  }
  .Book {
    margin: 0 auto;
  }
  .Deals-list2 {
    margin-top: 80px;
  }
  .Book-1 {
    margin: 0 auto;
  }
  .imgii {
    display: block;
    margin-top: 80px;
    margin-left: -60px;
  }
  .imgiii {
    display: block;
    margin-top: 120px;
    margin-left: -50px;
  }
  .Deals-list1 {
    width: 23rem;
    height: 23rem;
  }
  .imgi {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
}
