.product-images-slider .swiper-slide {
  padding-top: 70%;
  overflow: hidden;
  position: relative;
}

.product-images-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -100px;
  object-fit: cover;
}

.product-images-slider .swiper-button-prev {
  color: white;
}
.product-images-slider .swiper-button-next {
  color: white;
}
.product-images-slider-thumbs .swiper-slide {
  cursor: pointer;
}
.product-images-slider-thumbs .swiper-slide &-thumb-active {
  border: 1px solid#ff02f2;
}
.product-images-slider-thumbs .swiper-slide &-wrapper {
  width: 100%;
  padding-top: 65%;
  overflow: hidden;
  position: relative;
}
.product-images-slider-thumbs .swiper-slide &-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.product-images-slider-thumbs .swiper-slide img {
  max-width: 200px;
}
.head3 {
  position: relative;
  top: -50px;
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: 29px;
  font-weight: 600;
  color: green;
}
