.hero-container {
  background-image: url("./nature.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0px;
  margin: -120px -8px;
}
h1 {
  color: white;
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 35px;
  margin-bottom: -10px;
}

Button {
  background-color: green;
  color: white;
  font-size: 16px;
  border: none;
  box-shadow: 0px 10px 25px 0px white;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  padding: 15px 38px;
  font-weight: 600;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 32px;
    margin-top: -30px;
  }

  Button {
    margin-top: -165px;
  }
}
